body{
    display:flex;
    background-color:lightsteelblue;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem; 
}

h1 {
    text-align: center;
    font-family: sans-serif; 
    font-size: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

 .containerPlay {
    text-align: center;
    padding-bottom: 1rem;
}

.containerQandA {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.pic {
    width: 400px;
    height: 400px; 
}